---
import Card from "./Card.astro";

interface Props {
	title: string;
	tags: array;
}

const { title, tags } = Astro.props;
---
<Card class="flex-col-card">
    <h2 class="no-mt">{title}</h2>
    <ul class="tags-list">
        {
        Array.from(new Set(tags)).map((tag) => (
        <li>
            <a
                class="blog-tag"
                href={`/articles?tags=${tag}`}
                data-tag={tag}
            >
                {tag}
            </a>
        </li>
        ))
        }
    </ul>
</Card>

<style>
 
 .tags-list {
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-wrap: wrap;
   list-style-type: none;
   margin: 0;
   padding: 0;
   gap: 1rem;
 }

 .blog-tag {
   padding: 0.25rem 0.5rem;
   background: #252525;
   color: white;
   text-decoration: none;
 }

 .blog-tag:hover,
 .blog-tag:focus-visible {
   background: #353535;
   color: white;
   text-decoration: none;
 }

 .blog-tag.active {
   background: var(--primary);
 }
</style>
